@page "/about/chartdownloader"
@{
    ViewData["Title"]="ChartDownloader";
}

     <h1>About Chart Downloader</h1>
<div class="text-container">
    <h2>Whats That?</h2>
    <div class="text-container-2">
        <h2>Chartdownloader is a program that easily downloads aviation pdf charts for any american airport.</h2>
        <p>
            Written in Python 3, Chartdownloader was a program created to make it easy to
            download hundreds of aviation PDFs with a few easy clicks. This is so much easier and convenient
            compared to having to visit <a href="http://www.airnav.com/airport/khou">Airnav</a> and manually
            click through each of the up to 200 charts, download them, organize them, convert them to PNG
            (with even more steps involved in that). The program automates all the hard stuff for the
            user with an easy-to-use Graphical User Interface.<br>
            For detailed information on how to use this program click
            <a href="https://forums.x-plane.org/index.php?/files/file/69001-chart-downloader/">here (forums.x-plane.org)</a>
            <img src="https://forums.x-plane.org/screenshots/monthly_2021_01/1414647952_MtEAmmd1.png.368363c78e576c756d340658acb73add.png"
     alt="Chartdownloader GUI Screenshot">
        </p>
    </div>
</div>