@page "/about/chartdownloader"
@{
    ViewData["Title"]="ChartDownloader";
}

<h1>About Chart Downloader</h1>
<div class="text-container">
    <h2>What is it</h2>
    <div class="text-container-2">
        <h3>Chartdownloader is a program that easily downloads aviation pdf charts for any american airport.</h3>
    </div>
</div>