@page "/about"

<table class="onhover">
    <tr>
        <th>About</th>
    </tr>
    <tr>
        <td>Chartdownloader</td>
        <td><a asp-page="/about/chartdownloader">chartdownloader</a></td>
    </tr>
    <tr>
        <td>Stall Helper Plugin</td>
        <td><a href="https://github.com/qjlu404/stallhelper" target="_blank">stallhelper</a></td>
    </tr>
    <tr>
        <td>Attempt at making a game lmao</td>
        <td><a href="https://github.com/qjlu404/penguingame" target="_blank">penguingame</a></td>
    </tr>
    <tr>
        <td>eas encoder (for learning c# c++ interop)</td>
        <td><a href="https://github.com/qjlu404/psame-endec" target="_blank">psame-endec</a></td>
    </tr>
    <tr>
        <td>burst fire program</td>
        <td><a href="https://github.com/qjlu404/burst-fire" target="_blank"> burst-fire </a></td>
    </tr>
</table>