@page
@model IndexModel
@{
    ViewData["Title"]="HomePage";
}
<h1>Website Is a Work In Progress!</h1>
<h3 class="text-container">
     still trying to figure things out here<br>
     Click on Projects in the top navigation bar to see some of the things ive been up to.
</h3>